@import url(./vendor/normalize.css);
@import url(./blocks/body.css);
@import url(./blocks/page.css);
@import url(./blocks/content.css);
@import url(./blocks/zoom.css);
@import url(./blocks/popup.css);
@import url(./blocks/form.css);
@import url(./blocks/top.css);
@import url(./blocks/header.css);
@import url(./blocks/text.css);
@import url(./blocks/images.css);
@import url(./blocks/gallery.css);
@import url(./blocks/desc.css);
@import url(./blocks/footer.css);
@import url(./fonts/fonts.css);
